/* estilos para el encabezado */

.jumbotron {
  background-color: #1976d2;
  border: 2px solid #1976d2;
  color: #fff;
}

/* estilos trajetas igelsias */

.card-iglesias {
  flex: 1 150px;
  padding: 2px 10px 2px 10px;
  margin-top: 10px;
  margin-left: 10px;
  width: 18em;
}

.btn-saber {
  width: 100%;
}
/* estilos para el footer */

footer {
  padding: 10px 10px 0 10px;
  background-color: #1976d2;
  border: 2px solid #1976d2;
  color: #fff;
  margin-bottom: 0px;
  margin-top: 10px;
}

.footer-color-letras {
  background-color: #1976d2;
  border: 2px solid #1976d2;
  color: #fff;
}
